@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Dermagent";
  src: url(../public/fonts/dermagent/dermagent.otf);
}

@font-face {
  font-family: "Denora";
  src: url(../public/fonts/denora/Denora.otf);
}

@font-face {
  font-family: "Swomp";
  src: url(../public/fonts/swomp/Swomp-Outline.ttf);
}

@theme {
  --color-background: #050608;
  --color-elem-background: #18181b;
  --color-text-primary: #fff;
  --color-text-muted: #a1a1aa;
  --color-border-default: #27272a;

  --spacing-layout-max-w: 1440px;

  --breakpoint-xs: 400px;

  --font-bricolage: "Bricolage Grotesque", "Plus Jakarta Sans", "Inter",
    sans-serif;
  --font-jetbrains: "JetBrains Mono", serif;
  --font-darumadrop: "Darumadrop One", serif;
  --font-caesar: "Caesar Dressing", system-ui;
  --font-dermagent: "Dermagent", system-ui;
  --font-denora: "Denora", system-ui;
  --font-swomp: "Swomp", system-ui;
}

body {
  @apply bg-background text-text-primary font-bricolage min-h-0;
}

pre,
code {
  @apply !font-jetbrains;
}

.custom-text-hover-anim {
  @apply transition ease-in-out duration-300;
}

html {
  background: var(--color-background);
  color: var(--color-text-primary);
}
